-- CreateTable
CREATE TABLE "Election" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PLANNED',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Election_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ElectionRound" (
    "id" TEXT NOT NULL,
    "electionId" TEXT NOT NULL,
    "roundNumber" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PLANNED',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ElectionRound_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "State" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "abbreviation" TEXT NOT NULL,

    CONSTRAINT "State_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Municipality" (
    "id" TEXT NOT NULL,
    "stateId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "officialCode" TEXT NOT NULL,

    CONSTRAINT "Municipality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PollingZone" (
    "id" TEXT NOT NULL,
    "municipalityId" TEXT NOT NULL,
    "zoneNumber" TEXT NOT NULL,
    "expectedBUs" INTEGER DEFAULT 0,

    CONSTRAINT "PollingZone_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PollingSection" (
    "id" TEXT NOT NULL,
    "pollingZoneId" TEXT NOT NULL,
    "sectionNumber" TEXT NOT NULL,
    "expectedBUs" INTEGER DEFAULT 1,

    CONSTRAINT "PollingSection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PollingStation" (
    "id" TEXT NOT NULL,
    "sectionId" TEXT NOT NULL,
    "urnCode" TEXT NOT NULL,
    "metadata" TEXT,

    CONSTRAINT "PollingStation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Office" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "orderNumber" INTEGER NOT NULL,
    "configuration" TEXT,

    CONSTRAINT "Office_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Party" (
    "id" TEXT NOT NULL,
    "officialIdentifier" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "abbreviation" TEXT NOT NULL,

    CONSTRAINT "Party_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Candidate" (
    "id" TEXT NOT NULL,
    "partyId" TEXT NOT NULL,
    "officeId" TEXT NOT NULL,
    "officialIdentifier" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "ballotName" TEXT NOT NULL,

    CONSTRAINT "Candidate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ScanSession" (
    "id" TEXT NOT NULL,
    "sequenceId" TEXT NOT NULL,
    "operatorId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "expectedParts" INTEGER NOT NULL,
    "isSimulation" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ScanSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BallotReport" (
    "id" TEXT NOT NULL,
    "deterministicId" TEXT NOT NULL,
    "electionId" TEXT NOT NULL,
    "roundId" TEXT NOT NULL,
    "stateCode" TEXT NOT NULL,
    "cityCode" TEXT NOT NULL,
    "zoneCode" TEXT NOT NULL,
    "sectionCode" TEXT NOT NULL,
    "urnCode" TEXT NOT NULL,
    "hash" TEXT,
    "signature" TEXT,
    "status" TEXT NOT NULL DEFAULT 'RECEBIDO',
    "isSimulation" BOOLEAN NOT NULL DEFAULT false,
    "operatorId" TEXT,
    "validationData" TEXT,
    "metadata" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BallotReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BallotReportPart" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "partIndex" INTEGER NOT NULL,
    "totalParts" INTEGER NOT NULL,
    "rawContent" TEXT NOT NULL,
    "contentHash" TEXT NOT NULL,
    "operatorId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'STORED',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BallotReportPart_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BallotVote" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "officeId" TEXT NOT NULL,
    "candidateId" TEXT,
    "candidateNumber" TEXT,
    "partyId" TEXT,
    "partyNumber" TEXT,
    "voteType" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,

    CONSTRAINT "BallotVote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'OPERATOR',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "action" TEXT NOT NULL,
    "reportId" TEXT,
    "identifiers" TEXT,
    "result" TEXT NOT NULL,
    "previousStatus" TEXT,
    "newStatus" TEXT,
    "errors" TEXT,
    "ipAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcessingError" (
    "id" TEXT NOT NULL,
    "errorCode" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "stackTrace" TEXT,
    "metadata" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcessingError_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "State_abbreviation_key" ON "State"("abbreviation");

-- CreateIndex
CREATE UNIQUE INDEX "Municipality_officialCode_key" ON "Municipality"("officialCode");

-- CreateIndex
CREATE UNIQUE INDEX "Party_officialIdentifier_key" ON "Party"("officialIdentifier");

-- CreateIndex
CREATE UNIQUE INDEX "Candidate_officialIdentifier_key" ON "Candidate"("officialIdentifier");

-- CreateIndex
CREATE UNIQUE INDEX "ScanSession_sequenceId_key" ON "ScanSession"("sequenceId");

-- CreateIndex
CREATE UNIQUE INDEX "BallotReport_deterministicId_key" ON "BallotReport"("deterministicId");

-- CreateIndex
CREATE UNIQUE INDEX "BallotReportPart_sessionId_partIndex_key" ON "BallotReportPart"("sessionId", "partIndex");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- AddForeignKey
ALTER TABLE "ElectionRound" ADD CONSTRAINT "ElectionRound_electionId_fkey" FOREIGN KEY ("electionId") REFERENCES "Election"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Municipality" ADD CONSTRAINT "Municipality_stateId_fkey" FOREIGN KEY ("stateId") REFERENCES "State"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PollingZone" ADD CONSTRAINT "PollingZone_municipalityId_fkey" FOREIGN KEY ("municipalityId") REFERENCES "Municipality"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PollingSection" ADD CONSTRAINT "PollingSection_pollingZoneId_fkey" FOREIGN KEY ("pollingZoneId") REFERENCES "PollingZone"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PollingStation" ADD CONSTRAINT "PollingStation_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES "PollingSection"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Candidate" ADD CONSTRAINT "Candidate_partyId_fkey" FOREIGN KEY ("partyId") REFERENCES "Party"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Candidate" ADD CONSTRAINT "Candidate_officeId_fkey" FOREIGN KEY ("officeId") REFERENCES "Office"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ScanSession" ADD CONSTRAINT "ScanSession_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotReport" ADD CONSTRAINT "BallotReport_electionId_fkey" FOREIGN KEY ("electionId") REFERENCES "Election"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotReport" ADD CONSTRAINT "BallotReport_roundId_fkey" FOREIGN KEY ("roundId") REFERENCES "ElectionRound"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotReport" ADD CONSTRAINT "BallotReport_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotReportPart" ADD CONSTRAINT "BallotReportPart_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "ScanSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotReportPart" ADD CONSTRAINT "BallotReportPart_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotVote" ADD CONSTRAINT "BallotVote_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "BallotReport"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotVote" ADD CONSTRAINT "BallotVote_officeId_fkey" FOREIGN KEY ("officeId") REFERENCES "Office"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotVote" ADD CONSTRAINT "BallotVote_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "Candidate"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BallotVote" ADD CONSTRAINT "BallotVote_partyId_fkey" FOREIGN KEY ("partyId") REFERENCES "Party"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "BallotReport"("id") ON DELETE SET NULL ON UPDATE CASCADE;

